AuthType Basic
AuthName "Houston Support Desk - Restricted Access"
AuthUserFile /var/www/tom.houston.com/public_html/houston/.htpasswd
Require valid-user

<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    #RewriteBase /index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>
