<?xml version="1.0" encoding="UTF-8"?>
 
<phpunit bootstrap="./src/Houston/Test/bootstrap.php"
	convertWarningsToExceptions="true"
	convertNoticesToExceptions="true"
	convertErrorsToExceptions="true"
	backupStaticAttributes="false"
	processIsolation="false"
	stopOnFailure="false"
	backupGlobals="false"
	syntaxCheck="false"
	colors="true">
		
    <testsuites>
        <testsuite name="Houston Support Desk - Default Test Suite">
            <directory>./src/Houston/Test/</directory>
        </testsuite>
    </testsuites>
    
    <php>
        <server name="APP_DIR" value="/var/www/tom.houston.com/public_html/houston" />
        <env name="env" value="test" />
    </php>
</phpunit>