/* Palette 
	background: #f6f0e6;
	logo: #f6f0e6;
	h3: #ff6e3e;
	button: #01d48f;
	button:hover: #1ac38c;
	a: #008884;
	h4: #9b8d75;
	input text: #c3bdb2;
	cancel button: #cfc3af;
	cancel:hover: #9b8d75;
	"Open Tickets": #635748;
	scheduled: #ffab37;
	in-progress: #00c3d9;
	on-hold: #ff9472;
*/

@font-face {
  font-family: 'fontello-houston';
  src: url('../font/fontello-houston.eot?65819077');
  src: url('../font/fontello-houston.eot?65819077#iefix') format('embedded-opentype'),
       url('../font/fontello-houston.woff?65819077') format('woff'),
       url('../font/fontello-houston.ttf?65819077') format('truetype'),
       url('../font/fontello-houston.svg?65819077#fontello-houston') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'houston';
    src: url('../font/houston.svg?53026908#houston') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello-houston";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
	/*margin-right: .2em;*/
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
	/*margin-left: .2em;*/
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-ok-circled:before { content: '\61'; } /* 'a' */
.icon-cancel-circled:before { content: '\62'; } /* 'b' */
.icon-cog:before { content: '\63'; } /* 'c' */
.icon-heart-empty:before { content: '\64'; } /* 'd' */
.icon-user:before { content: '\65'; } /* 'e' */
.icon-ok:before { content: '\66'; } /* 'f' */
.icon-comment:before { content: '\67'; } /* 'g' */
.icon-logout:before { content: '\68'; } /* 'h' */
.icon-ok-1:before { content: '\69'; } /* 'i' */
.icon-cancel:before { content: '\6a'; } /* 'j' */
.icon-down-dir-1:before { content: '\6b'; } /* 'k' */
.icon-menu:before { content: '\6c'; } /* 'l' */
.icon-up-dir:before { content: '\6d'; } /* 'm' */
.icon-angle-circled-left:before { content: '\e800'; } /* '' */
.icon-angle-circled-right:before { content: '\e801'; } /* '' */
.icon-down-circled2:before { content: '\e802'; } /* '' */

/* Placeholder text */
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #cfc3af;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #cfc3af;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #cfc3af;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #cfc3af;
}

/* Text highlighting */
::selection     {
     background: #cfc3af;
     color: #fff;
}

::-moz-selection  {
     background: #cfc3af;
     color: #fff;
}

/* Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, font, img, ul, li {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font-size: 100%;
     vertical-align: baseline;
     background: transparent;
     text-decoration:none;
     font-weight: normal;
}

html {
	height: 100%;
	overflow-y:scroll;
}

body {
	/*position: absolute;*/
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	background: #f6f0e6;
}

.outer-wrap {
	position: relative;
	right: 0px;
	height: 100%;
	min-height: 100%;
	background: #f6f0e6;		
}

.mob-menu {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	min-width: 320px;
	height: 100%;
	background: #eee8dc;
}

.mob-menu-top {
	height: 75px;
}

.mob-menu .logo {
	display: block;
	width: 95px;
	height: 26px;
	padding-top: 25px;
	padding-bottom: 24px;	
}

.mob-menu ul {
	margin: 0 15px;
	border-bottom: 1px solid #fff;
}

.mob-menu a {
	display: block;
	padding: 14px 0;
	border-top: 1px solid #fff;
	font-weight: 600;
	font-size: 17px;
	text-decoration: none;
	color: #6a5e4f;
}

.mob-menu a:hover {
	color: #f69329;
}

.mob-menu i {
	margin:0 16px 0 4px;
	font-size: 15px;
	color: #f69329;
}

.mob-peek {
	height: 96px;
	margin-top: 28px;
	background: transparent url(../img/peek.png) no-repeat 0 0;
}

.nav-icon {
  display: block;
  float: right;
  width: 30px;
  margin: 16px  15px 16px 0;
  cursor: pointer;
}

.nav-icon:after, 
.nav-icon:before, 
.nav-icon div {
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #6d6d6d;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.nav-icon.cross:before {
  transform: translateY(12px) rotate(135deg);
  -moz-transform: translateY(12px) rotate(135deg);
  -webkit-transform: translateY(12px) rotate(135deg);
}

.nav-icon.cross:after {
  transform: translateY(-12px) rotate(-135deg);
  -moz-transform: translateY(-12px) rotate(-135deg);
  -webkit-transform: translateY(-12px) rotate(-135deg);
}

.nav-icon.cross div {
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

header {
	height: 64px;
}

.logo {
	display: block;
	width: 208px;
	height: 49px;
	margin: 0 auto;
	padding-top: 14px;
}

footer {
	clear: both;
	width: 100%;
	height: 40px;
	padding-top:  20px;
}

.version,
.copy {
	text-align: center;
	color: #cfc3af;
}

.version {
	text-align: center;
	opacity: 0;
}

.get-houston {
	display: none;
	float: right;
	margin: 0 15px;
}

.wrapper {
	min-width: 320px;
}

.wrapper.login {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-54%);
	transform: translateY(-54%);
}

.box {
	background: #fff;
	overflow: hidden;
	margin: 0 15px;
	-webkit-box-shadow: 0 0 6px 0px rgba(112,94,65,0.2);
	box-shadow: 0 0 6px 0px rgba(112,94,65,0.2);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}

.box-wel {
	display: none;
	float: left;
	width: 352px;
	padding: 24px 28px;
	background: #fff url(../img/welcome.png) no-repeat 100% 100px;
	text-align: left;
}

.wel-tag {
	margin-bottom: 410px;
}

.box-log {
	padding: 24px 0 18px;
}

.box-try {
	display: none;
	padding: 24px 0px 18px;
}

.box-try .btn {
	margin: 18px auto 8px;
}

.box-try h3 {
	width: 256px;
	margin: 0 auto;
}

.box-pass {
	padding: 24px 0 25px;
}

.box-pass input[type="submit"] {
	margin-top: 16px;
}

.box-reg {
	padding: 24px 0 18px;
}

.box-suc {
	padding: 24px 0 0;
}

.box-suc h2{
	width: 220px;
	margin: 0 auto 8px;
}

h2 {
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: 900;
}

h3  {
	font-size: 14px;
	font-weight: 900;
	color: #ff6e3e;
}

h4 {
	color: #9b8d75;
}

h5 {
	font-size: 14px;
	font-weight: 900;
	color: #000;
}

a {
	font-weight: 600;
	text-decoration: underline;
	color: #008884;
	cursor: pointer;
}

:focus {
	outline: none!important;
} 

ul {
	list-style-type: none;
}

body .ib {
	display: inline-block;
}

.beige {
	color: #cfc3af;
}

.btn {
	display: block;
	width: 94px;
	height: 36px;
	padding: 0;
	border: none;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	line-height: 36px;
	text-align: center;
	text-decoration: none;
	background: #01d48f;
	color: #fff;
}

.btn-can {
	display: block;
	width: 66px;
	height: 28px;
	margin: 2px auto 0;
	padding: 0;
	border: none;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	line-height: 28px;
	text-align: center;
	text-decoration: none;
	background: #cfc3af;
	color: #fff;
}

.btn-can:hover {
	background: #9b8d75;
}

input[type="checkbox"] {
	margin-right: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	display: block;
	width: 236px;
	margin: 0 auto 15px;
	padding: 11px 10px;
	border: 1px solid #9b8d75;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 18px;
	color: #c3bdb2;
	
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-ms-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}

input[type="password"]:disabled {
	background: #fff;
}

textarea {
	display: block;
	width: 290px;
	max-width: 290px;
	margin: 0 auto 15px;
	padding: 11px 10px;
	border: 1px solid #9b8d75;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 18px;
	color: #c3bdb2;
	
	-webkit-transition: border-color 500ms ease-out;
	-moz-transition: border-color 500ms ease-out;
	-ms-transition: border-color 500ms ease-out;
	-o-transition: border-color 500ms ease-out;
	transition: border-color 500ms ease-out;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input:focus,
textarea:focus {
	outline: none !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
	border-color: #f69228;
}

input[type="text"].in-use,
input[type="email"].in-use,
input[type="text"].error,
input[type="email"].error,
input[type="password"].error,
textarea.error {
	border-color: #ff6e3e;
}

button,
input[type="submit"] {
	width: 94px;
	height: 36px;
	padding: 0;
	border: none;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	lin;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	line-height: 36px;
	background: #01d48f;
	color: #fff;
}

.btn:hover,
button:hover,
input[type="submit"]:hover {
	background: #1ac38c;
}

input.inp-spa,
.vrf.inp-spa {
	margin-bottom: 28px;
}

input.inp-lst {
	margin-bottom: 21px;
}

#form-log {
	margin: 24px auto 18px;
}

#form-log label {
	display: block;	
	margin: 0px auto 16px;
}

#form-pass {
	margin: 24px auto 0px;
}

#form-pass h3{
	margin: 0 auto 16px;
	width: 258px;
}

.reg-form-wrap {
	width: 258px;
	margin: 24px auto 0;
	overflow: hidden;
}

#form-reg {
	float: left;
	width: 258px;
}

#form-reg button {	
	-webkit-transition: all 800ms ease-out;
	-moz-transition: all 800ms ease-out;
	-ms-transition: all 800ms ease-out;
	-o-transition: all 800ms ease-out;
	transition: all 800ms ease-out;
}

.or {
	padding: 0 8px;
}

#form-reg .btn-can {
	display: inline-block;
}

.vld-box {
	display: none;
	float: left;
	width: 56px;
	margin-bottom: 27px;
	overflow: hidden;
}

.vld {
		position: relative;
    height: 62px;
	margin: 23px 0 72px;
		margin: 23px 0;
}

.vld-line {
	width: 100%;
	height: 30px;
		height: 30px;
	margin-left: 22px;
	border-top: 1px solid #9b8d75;
	border-left: 1px solid #9b8d75;
	border-radius: 7px;
	
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-ms-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}

.vld-a  .vld-line {
	border-color: #01d48f;
}

.vld-line.line-btm {
	height: 29px;
	margin-bottom: 1px;
	border-top: none;
	border-bottom: 1px solid #9b8d75;
	border-left: 1px solid #9b8d75;
}

.vld-b  .vld-line.line-btm {
	border-color: #01d48f;
}

.vld-cir {
	position: absolute;
	top: 0;

	width: 46px;
	height: 46px;
	margin: 7px 0 7px -23px;
			margin: 7px 0 7px 0px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	line-height: 46px;
	text-align: center;
	font-weight: 900;
	font-size: 24px;
	background: #cfc3af;
	color: #fff;
	
	-webkit-transition: all 1200ms ease-out;
	-moz-transition: all 1200ms ease-out;
	-ms-transition: all 1200ms ease-out;
	-o-transition: all 1200ms ease-out;
	transition: all 1200ms ease-out;
}

.vld-a.vld-b .vld-cir {
	background: #01d48f;
}

.vld-a .vld-aa,
.vld-b .vld-bb {
	border-color: #01d48f;
}

.reg-vrf {
	position: relative;
}

.vrf-wrap {
	display: none;
	float: left;
	width: 94px;
}

.vrf {
	display: none;
	position: absolute;
	top: 0;
	right: 3px;
	height: 46px;
	margin-bottom: 15px;
}

.vrf-cir {
	float: left;
	width: 28px;
	height: 28px;
	margin: 9px 6px 9px 8px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	line-height: 27px;
	text-align: center;
	font-size: 18px;
	background: #ff9472;
	color: #fff;
}

.vrf-cir.ok {
	background: #01d48f;	
}

.vrf-count {
	font-weight: 900;
	
	-webkit-transition: background 400ms ease-out;
	-moz-transition: background 400ms ease-out;
	-ms-transition: background 400ms ease-out;
	-o-transition: background 400ms ease-out;
	transition: background 400ms ease-out;
}

.vrf-msg {
	display: none;
	float: left;
	margin: 5px 0;
	line-height: 1.3em;
	font-weight: 900;
	color: #ff9472;
}

.got-wrap {
	width: 258px;
	margin: 24px auto 0;
	padding-bottom: 224px;
	text-align: center;
	background: url(../img/got-mail.png) no-repeat 50% 100%;
}

.got-wrap h3 {
	width: 254px;
	margin: 0 auto;
}

/* Ticket View */
.app-wrap {
	overflow: hidden;
	min-width: 320px;
}

.app-wrap header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 75px;
	background: #f6f0e6;
	z-index: 10;
}

.app-wrap .logo,
.mob-menu .logo {
	float: left;
	display: block;
	width: 95px;
	width: 128px;
	height: auto;
	margin: 0;
	padding: 25px 0 0 15px;
	padding: 23px 0 16px 22px;
}

.app-wrap header nav {
	display: none;
	float: right;
	margin: 40px 30px 0 0;
}

.app-wrap header nav a {
	margin: 0 3px;
}

.app-wrap header nav a:first-child {
	margin-left: 0;
}

.box-app-fixed {
	position: fixed;
	top: 75px;
	width: 100%;
	background: #f6f0e6;
	z-index: 10;
}

.box-app-fixed-inner {
	min-width: 320px;
}

.box-app {
	margin-top: 68px;
	padding: 1px 15px 15px;
	background: #fff;
	padding: 75px 15px 30px;
	
}

.box-app.tickets-box-app {
	padding: 126px 15px 15px;
}



.box-app-top {
	height: 36px;
	padding: 16px 0;
	-webkit-box-shadow: 0 0 6px 0px rgba(112,94,65,0.2);
	box-shadow: 0 0 6px 0px rgba(112,94,65,0.2);
	background: #f3f0ea;
}

.box-app-top .btn {
	float: right;
	width: 92px;
	height: 36px;
	margin-right: 15px;
	line-height: 38px;
}

.box-app-top .btn.new,
.box-app-top .btn.completed {
	width: 90px;
	margin-left: 12px;
	text-align: center;
}

.msg-top .btn {
/*Change*/
	width: inherit;
	padding: 0 10px;
	text-align: left;
}

.box-app-top .dropdown {
	float: right;
	position: relative;
	height: 100%;
	min-width: 122px;		
	z-index: 100;	
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 	
	cursor: default;
}

.dropswitch {
	margin-right: 15px;
}

.dropdown .btn {
	margin-right: 0;
}

.drop-inner {
	position: absolute;
	top: 0;
	right: 0;
}

.drop-top {
	overflow: hidden;
	border-radius: 6px 6px 0 0;
	background: #00c3d9;
}

.drop-top.rounded {
	border-radius: 6px;	
}

.drop-slct {
	-webkit-transition: background 200ms ease-out;
	-moz-transition: background 200ms ease-out;
	-ms-transition: background 200ms ease-out;
	-o-transition: background 200ms ease-out;
	transition: background 200ms ease-out;
}

.dropswitch .btn {
	min-width: 90px;
}

.drop {
	display: none;
	-webkit-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;	
	background: #00c3d9;
}

.dropdown li {
	min-width: 90px;
	padding: 0 10px;
	line-height: 36px;
	color: #fff;	
	cursor: pointer;
}

.dropdown li.slct {
	display: none;
}

.box-app-top .dropdown.droplist {
	width: 168px;
}

.droplist .drop-top{
	background: #f8835e;	
}

.droplist .drop-top .btn {
	width: 148px;
	max-width: 148px;
	background: #ff9472;
}

.droplist .drop {
	position: absolute;
	width: 168px;
	background: #f8835e;
}


.box-app-top h2 {
	float: left;	
	margin: 7px 0 8px 15px;
	text-shadow: 1px 1px 2px #ffffff;
	color: #635748;
}

.box-app-top h2 a {
	text-decoration: none;
	font-weight: 900;
	color: #635748;
}

.box-app-nav {
	height: 50px;
	padding: 0 15px;
	background: #fff;
}

.box-app-nav-inner {
	overflow: hidden;
	padding-bottom: 14px;
	border-bottom: 1px solid #cfc3af;
}

.box-app-nav .sort {
	display: none;
	float: left;
}

.box-app-nav .filter {
	float: right;
}

.box-app-nav a {
	display: block;
	float: left;
	margin: 15px 0 0 10px;
	-webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}

.box-app-nav a span {
	display: none;
	font-weight: 600;
}

.box-app-nav a .mine {
	display: inline;
}

.box-app-nav a:first-child {
	margin-left: 0;
}

.box-app-nav a.mid-link { /*May be unnecessary*/
	margin: 15px 20px 0;
}

.box-app-nav a i.inactive {
	color: #f3f0ea;
	color: #cfc3af;
}

.ticket {
	overflow: hidden;
	padding: 12px 0 10px;
	border-bottom: 1px solid #cfc3af;
}

.ticket a {
	display: block;
}

.ticket-info {
	display: inline-block;
}

.ticket .update-alert {
	float: left;
	display: inline-block;
	width: 2px;
	height: 53px;
	margin-right: 8px;
	background: #01d48f;
}

.ticket .update-alert.true {
	width: 0;
	margin-right: 0;
	background: transparent;
}

.ticket-info .date {
	line-height: 16px;
	font-weight: 600;
	font-size: 13px;
	color: #9b8d75;
}

.ticket-info .name {
	line-height: 20px;
	font-weight: 600;
	font-size: 15px;
	color: #ff6e3e;
}

.ticket-info .company-name {
	line-height: 18px;
	font-weight: 600;
	font-size: 15px;
	color: #60b9b2;
}

.ticket-info .summary {
	display: none;
	line-height: 17px;
	color: #9b8d75;
}

.ticket-status {
	float: right;
	display: inline-block;
	width: 100px;
}

.ticket-status div {
	float: right;
}

.ticket-status .btn{
	width: 76px;
	height: 22px;
	margin-bottom: 8px;
	line-height: 22px;
	font-weight: 600;
	font-size: 12px;
}

.ticket-status .new:hover {
	background: #01d48f;
}

h4.no-tickets {
	padding-top: 30px;
	position: relative;
	font-size: 16px;
	text-align: center;
}

.btn.completed {
	background: #cfc3ae;
}

.btn.scheduled {
	background: #ffab37;
}

.btn.in-progress,
.drop-inner.in-progress,
.drop-top.in-progress {
/*CHANGE*/
	background: #00c3d9;
}

.btn.on-hold,
.drop-inner.on-hold,
.dropswitch .drop-top.on-hold,
.dropswitch .drop.on-hold {
/*CHANGE*/
	background: #ff9472;
}

.ticket-status .ticket-agent {
	font-weight: 600;
	font-size: 12px;
	color: #ff6e3e;
}

/* People View */
.box-people {
	overflow: hidden;
	padding: 30px 15px 0;
	padding: 105px 15px 0;
}

.box-people h2 {	
	margin-bottom: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid #cfc3af;
	color: #635748;
}

.box-people h2.people-clients-header {
	margin-bottom: 0;
}

.client-user-stream {
	overflow: hidden;
	border-bottom: 1px solid #cfc3af;
}

.person {
	text-align: center;
	padding-bottom: 30px;
}

.box-companies {
	overflow: hidden;
}

.company-info {
	margin-bottom: 30px;
	padding-top: 30px;
	/*border-top: 1px solid #cfc3af;*/
}

.client:first-child .company-info {
	/*border-top: none;*/
	padding-top: 0;
}

.company-info h3 {
	font-size: 15px;
}

.company-info a {
	display: inline-block;
	margin: 0 10px 0 0;
}

/*.add-person {
	overflow: hidden;
	margin-bottom: 30px;
	text-align: center;
}*/

/*.add-person h4 {
	margin-bottom: 15px;
}
*/
#company-stream {
	padding-top: 30px;
}

#clients-stream > li {
	clear: both;
}

h4.client-has-no-users {
	padding-bottom: 30px;
	font-size: 16px;
	text-align: center;
}

/* Modal Form */
#modal-form {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	background:rgb(0,0,0);
    background: transparent\9;
    background:rgba(0,0,0,0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
    zoom: 1;
}

/* Single Ticket */
.reply-btn {
	margin-top: 30px;
}

.reply {
	display: none;
}

#form-reply {
	padding: 25px 0 0;
	text-align: center;
}

#form-reply label {
	display: inline-block;
	margin: 30px 0 20px;
	margin: 20px 0 30px 0;
	margin: 20px 0;
	line-height: 14px;
}

#form-reply input[type="checkbox"] {
	display: inline-block;
}

.reply-submit-buttons {
	margin-top: 10px;
}

#form-new {
	padding: 25px 0 0;
	text-align: center;
}

#form-new textarea {
	height: 200px;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

#form-new input[type="text"] {
	width: 268px;
	margin-bottom: 8px;
}

#form-new button {
	width: 110px;
	margin-top: 30px;
}

.char-count {
	margin-bottom: 15px;
	font-weight: 900;
	color: #01d48f;
}

.char-count.count {
	color: #ff6e3e;
}

.char-count span {
	font-weight: 900;	
}

.char-count span.count {
	font-weight: 900;
	color: #ff6e3e;	
}

.attach-files {
	color: #ff9472;
}

/*.attach-files .files {
	margin-top: 20px;
	width: 290px;
}*/

.attach-link {
	display: block;
}

.supported, 
.filetypes {
	display: inline-block;
}

.filetypes li {
	display: inline-block;
	padding: 0 4px;
	border-right: 1px solid #ff9472;
	line-height: 16px;
}

.filetypes li:last-child {
	padding-right: 0;
	border-right: none;
}

.files {
	overflow: hidden;
}

#drop_zone,
#filesInput {
	display: none;
}

.file {
	position: relative;
	display: block;
	/*width: 290px;*/
	margin: 0 auto;
	/*padding: 30px 0;*/
	padding: 15px 0 0;
	text-align: left;
}

.attach-files .file {
	width: 290px;
}

.msg-body .file:first-child {
	/*padding-top: 0;*/
}

.file a {
	margin-right: 10px;
}

.filename {
	overflow: hidden;
	width: 100%;
	padding: 5px 0 0;
	line-height: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.file-icon {
	float: left;
	position: relative;
	margin-right: 15px;
	width: 33px;
	height: 44px;
	border-radius: 2px;
	background: #ecd1a3;
}

.file-icon:before {
	content: '';
	float: right;
	width: 14px;
	height: 14px;
	border-radius: 0 0 0 2px;
	background: #d5a75d;
}

.file-icon:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 14px 14px 0;
	border-color: transparent #ffffff transparent transparent;
}

.msg-body .file-icon:after {
	border-color: transparent #f3f0ea transparent transparent;
}

.file-icon span {
	position: absolute;
	bottom: 0px;
	left: 4px;
	font-size: 12px;
	font-weight: 600;
	color: #c3a272;
}

.file-text {
	position: relative;
}

.file-info {
	padding-left: 48px;
}

.file-thumb {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

/*.loader {
	position: absolute;
	left: 0;
	top: 0;
	width: 26px;
	height: 26px;
	background: url(../img/loader.gif) no-repeat;
	background-size: 26px;
}*/

/*.loader {
	position: absolute;
	left: -12px;
	top: 0;
	width: 64px;
	height: 19px;
	background: url(../img/ajax-loader.gif) no-repeat;
	
}*/

/*.loader {
	position: absolute;
	left: 0px;
	top: 0;
	width: 56px;
	height: 20px;
	background: url(../img/tax_loader.gif) no-repeat;
	
}*/

.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #01d48f;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #01d48f;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #01d48f;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #01d48f;
  }
}


.attachments-link {
	display: inline-block;
	margin-top: 10px;
}

#msg-stream {
	overflow: hidden;
	padding-bottom: 15px;
}

#msg-stream > li {
	margin-top: 15px;
}

.msg {
	margin-bottom: 30px;
}

#messages-wrap ul li:last-child {
	margin-bottom: 0;
}

.msg-top h2 { 
	display: none;
}

.msg-top .btn {
	width: inherit;
	padding: 0 10px;
}

.msg-top i {
	float: right;
	padding-left: 6px;
}

.msg-top .btn.sel-agent {
	margin-right: 15px;
}

.msg-dtl {
	position: relative;
	display: inline-block;
	float: left;
	padding: 14px 0;
}

.from-AGENT .msg-dtl,
.from-ADMIN .msg-dtl {
	float: right;
}

.msg-dtl .avatar {
/*.avatar {*/
	float: left;
/*	width: 66px;
	height: 66px;*/
	margin-right: 14px;
/*	-webkit-border-radius: 50%;
	border-radius: 50%;*/
}

.from-AGENT .avatar,
.from-ADMIN .avatar {
	float: right;
	margin: 0 0 0 14px;
}

.msg-dtl-inr {
	float: left;
	max-width: 210px; /* Remove for larger screens */
	padding-top: 3px;
}

.msg-agent {
	display: inline-block;
	line-height: 20px;
	font-weight: 600;
	font-size: 15px;
}

.msg-company {
	display: block;
	line-height: 16px;
	font-weight: 600;
	font-size: 15px;
	color: #60b9b2;
}

/* uses same styles as: .ticket-info .date */
.msg-date {
	line-height: 26px;
	font-weight: 600;
	font-size: 13px;
	color: #9b8d75;
}

.msg-date sup {
	top: -4px;
	font-size: 8px;
}

.msg-tri {
	position: absolute;
	bottom: 0;	
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 13.5px 14px 13.5px;
	border-color: transparent transparent #f3f0ea transparent;
	border-style: inset;
	-webkit-transform: rotate(360deg);
}

.from-AGENT .msg-tri,
.from-ADMIN .msg-tri  {
	right: 82px;
}

.from-USER .msg-tri {
	left: 82px;
}

.msg-body {
	clear: both;
	padding: 15px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: #f3f0ea;
}

.msg-subject {
	margin-bottom: 24px;
}

/*MODAL WINDOW*/
#modal-window {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
    background:rgb(0,0,0);
    background: transparent\9;
    background:rgba(0,0,0,0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
    zoom: 1;
}

#modal-window(n) {
    filter: none;
}

.modal-window-inner {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.modal-outer {
	position: relative;
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}
.modal-wrap {
	width: 100%;
	height: 100%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.modal-wrap .box {
	position: relative;
	width: 260px;
	margin: 0 auto;
	padding: 20px;
}

.modal-wrap h3 {
	margin-bottom: 10px;
	text-transform: uppercase;
}


.modal-wrap h4 {
	margin-bottom: 20px;
}

.modal-buttons {
	position: relative;
}

.modal-buttons .btn-can {
	display: inline-block;
}

/*PREVIEW WINDOW*/
.preview-window-inner {
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 50px;
	left: 20px;
}

/*.preview-window-inner i {
	color: #f6f0e6;
	font-size: 30px;
	cursor: pointer;
}*/

.preview-close {
	position: absolute;
	top: 0;
	right: 5px;

	color: #f6f0e6;
	font-size: 30px;
	cursor: pointer;
}

.preview-wrap {
	position: relative;
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}
.preview-img-wrap {
	width: 100%;
	height: 100%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.preview-img-box {
	position: relative;
	display: inline-block;
	margin-top: 50px;
	padding: 5px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background:rgba(0,0,0,0.3);
}

.preview-img-box i {
	font-size: 30px;
	color: #fff;
}

.img-wrap {
	background: #000000;
}

.img-wrap img {
	display: block;
	max-width: 100%;
	margin: 5px auto;
}

.preview-img-info,
.preview-img-bottom {
	position: relative;
	padding: 0 40px;
	height: 30px;
}

.preview-filename {
	line-height: 30px;
	color: #f6f0e6;
}

.preview-prev {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
}

.preview-next {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
}

.preview-type {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #f6f0e6;
}

.preview-download {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
}

/*UPDATE ALERT*/
#update-alert {
	float: right;
	display: none;
	width: 20px;
	height: 20px;
	margin-top: 24px;
}

.update-alert {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	line-height: 20px;
	text-align: center;
	background: #ff6e3e;
	color: #fff;	
}

.update-alert span { 
	font-size: 12px;
}

/* Profile */

.profile {
	text-align: center;
}

.profile h3 {
	padding: 30px 0 20px;
	border-top: 1px solid #cfc3af;
	font-size: 15px;
}

.profile form h3 {
	border: none;
}

#form-profile-details h3 {
	padding-bottom: 5px;
}

.profile form {
	width: 258px;
	margin: 0 auto;
	padding-bottom: 20px;
}

.profile label {
	display: block;
	margin-bottom: 5px;
	font-size: 15px;
	color: #9b8d75;
}

.profile input[type="text"],
.profile input[type="email"],
.profile input[type="password"]{
	float: left;	
}

.profile .validated-input-resize input {
	width: 192px;
}

.profile-avatar {
	padding-bottom: 20px;
}

.profile-tooltip {
	clear: both;
	margin: 0 auto 15px;
}

.profile .response {
	display: none;
	visibility: hidden;
}

.avatar {
	display: block;
	width: 66px;
	height: 66px;
	margin: 0 auto;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.profile-avatar-prompt {
	display: none;
}

.update-avatar-link {
	display: block;
	margin: 5px 0 15px;
}


.toggle-button-wrap {
	width: 258px;
	height: 46px;
	margin: 0 auto;	
}

.toggle-button-outer {
	float: left;
	position: relative;
	width: 52px;
	height: 24px;
	padding: 4px;
	background: #f3f0ea;
	border: 2px solid #cfc3af;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	cursor: pointer;
}

.toggle-button-outer .on {
	position: absolute;
	left: 8px;
	line-height: 20px;
	font-size: 16px;
	color: #cfc3af;
}

.toggle-button-outer .off {
	position: absolute;
	right: 8px;
	line-height: 20px;
	font-size: 16px;
	color: #cfc3af;
}

.toggle-button {
	width: 24px;
	height: 24px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #ff6e3e;

	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;

	transform: translateX(0);
} 

.toggle-button-outer.on .toggle-button {
	transform: translateX(28px);
	background: #01d48f;
}

.profile .toggle-button-wrap label {
	float: left;
	padding-left: 20px;
	line-height: 36px;
}

.profile-input-wrap {
	position: relative;
	overflow: hidden;
}

.profile .cancel-btn {
	display: block;
}

.profile .in-use-marker {
	visibility: hidden;
	position: absolute;
	top: 26px;
	right: 0;
	height: 46px;
}

.profile .response h3 {
	padding: 5px 0;
}

.validated-marker {
	visibility: hidden;
	position: absolute;
	top: 0;
	right: 0;
	height: 46px;
}

.validated-input-resize .in-use-marker,
.validated-input-resize .validated-marker {
	animation-name: delayed-icon-animate;
	-webkit-animation-name: delayed-icon-animate;	

	animation-duration: 1.3s;	
	-webkit-animation-duration: 1.3s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	visibility: visible !important;	
}

@keyframes delayed-icon-animate {
	0% {
		transform: scale(0) rotate(0deg);
		opacity: 0;
	}

	40% {
		transform: scale(0.3) rotate(2deg);
		opacity: 0.2;
	}
	58% {
		transform: scale(1.03) rotate(-2deg);		
		opacity: 1;
	}
	67% {
		transform: scale(0.98) rotate(1deg);
		opacity: 1;
	}
	76% {
		transform: scale(1.01) rotate(-1deg);		
		opacity: 1;
	}	
	85% {
		transform: scale(0.99) rotate(1deg);
		opacity: 1;
	}
	94% {
		transform: scale(1.01) rotate(0deg);		
		opacity: 1;
	}	
	100% {
		transform: scale(1) rotate(0deg);
		opacity: 1;
	}		
}

@-webkit-keyframes delayed-icon-animate {
	0% {
		transform: scale(0) rotate(0deg);
		opacity: 0;
	}

	40% {
		transform: scale(0.3) rotate(2deg);
		opacity: 0.2;
	}
	58% {
		transform: scale(1.03) rotate(-2deg);		
		opacity: 1;
	}
	67% {
		transform: scale(0.98) rotate(1deg);
		opacity: 1;
	}
	76% {
		transform: scale(1.01) rotate(-1deg);		
		opacity: 1;
	}	
	85% {
		transform: scale(0.99) rotate(1deg);
		opacity: 1;
	}
	94% {
		transform: scale(1.01) rotate(0deg);		
		opacity: 1;
	}	
	100% {
		transform: scale(1) rotate(0deg);
		opacity: 1;
	}		
}

.icon-animate{
	animation-name: icon-animate;
	-webkit-animation-name: icon-animate;	

	animation-duration: 0.8s;	
	-webkit-animation-duration: 0.8s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	visibility: visible !important;	
}

@keyframes icon-animate {
	0% {
		transform: scale(0.3) rotate(2deg);
		opacity: 0.2;
	}
	30% {
		transform: scale(1.03) rotate(-2deg);		
		opacity: 1;
	}
	45% {
		transform: scale(0.98) rotate(1deg);
		opacity: 1;
	}
	60% {
		transform: scale(1.01) rotate(-1deg);		
		opacity: 1;
	}	
	75% {
		transform: scale(0.99) rotate(1deg);
		opacity: 1;
	}
	90% {
		transform: scale(1.01) rotate(0deg);		
		opacity: 1;
	}	
	100% {
		transform: scale(1) rotate(0deg);
		opacity: 1;
	}		
}

@-webkit-keyframes icon-animate {
	0% {
		transform: scale(0.3) rotate(2deg);
		opacity: 0.2;
	}
	30% {
		transform: scale(1.03) rotate(-2deg);		
		opacity: 1;
	}
	45% {
		transform: scale(0.98) rotate(1deg);
		opacity: 1;
	}
	60% {
		transform: scale(1.01) rotate(-1deg);		
		opacity: 1;
	}	
	75% {
		transform: scale(0.99) rotate(1deg);
		opacity: 1;
	}
	90% {
		transform: scale(1.01) rotate(0deg);		
		opacity: 1;
	}	
	100% {
		transform: scale(1) rotate(0deg);
		opacity: 1;
	}				
}

.text-animate{
	animation-name: text-animate;
	-webkit-animation-name: text-animate;	

	animation-duration: 0.8s;	
	-webkit-animation-duration: 0.8s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	visibility: visible !important;
	display: block!important;	
}

@keyframes text-animate {
	0% {
		transform: scale(0.3);
		opacity: 0.2;
	}
	30% {
		transform: scale(1.03);		
		opacity: 1;
	}
	45% {
		transform: scale(0.98);
		opacity: 1;
	}
	60% {
		transform: scale(1.01);		
		opacity: 1;
	}	
	75% {
		transform: scale(0.99);
		opacity: 1;
	}
	90% {
		transform: scale(1.01);		
		opacity: 1;
	}	
	100% {
		transform: scale(1);
		opacity: 1;
	}		
}

@-webkit-keyframes text-animate {
	0% {
		transform: scale(0.3);
		opacity: 0.2;
	}
	30% {
		transform: scale(1.03);		
		opacity: 1;
	}
	45% {
		transform: scale(0.98);
		opacity: 1;
	}
	60% {
		transform: scale(1.01);		
		opacity: 1;
	}	
	75% {
		transform: scale(0.99);
		opacity: 1;
	}
	90% {
		transform: scale(1.01);		
		opacity: 1;
	}	
	100% {
		transform: scale(1);
		opacity: 1;
	}				
}


/* Crop View */

#canvas-wrap.active .canvas-blackout-bg {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	background:rgb(0,0,0);
    background: transparent\9;
    background:rgba(0,0,0,0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
    zoom: 1;
}

#canvas-wrap .canvas-window-inner {
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 50px;
	left: 20px;
	z-index: 101;
}

#canvas-wrap.max-height-canvas-image .canvas-window-inner {
	bottom: auto;
	margin-bottom: 50px;
}

#canvas-wrap canvas {
	display: block;
	margin: 0 auto 5px;
}

button.crop {
	float: left;
	width: inherit;
	margin-right: 5px;
	padding: 0 16px;
}

button.grayscale {
	float: left;
	background: #00c3d9;
}

button.grayscale:hover {
	background: #18b5c7;
}

button.grayscale .c,
button.grayscale.gray .g {
	display: none;
}

button.grayscale.gray .c {
	display: inline;
}

/* Modal Form */

#modal-form .validated-input-resize input[type="text"] {
	float: left;
	width: 194px;
}

@media only screen and (min-width: 321px) {
	

}
	
@media only screen and (min-width: 768px) { 

	.offset {
		height: 230px;
	}

	.box-wel,
	.box-try,
	.vrf-wrap,
	.vld-box,
	.get-houston{
		display: block;
	}

	#update-alert {
		display: inline-block;
	}

	.box-app-nav a span {
		display: inline;
	}


	.mob-menu,
	header .nav-icon,
	.box-app-nav a .mine {
		display: none;
	}
	
	.box-log,
	.box-pass {
		float: left;
		width: 300px;
		margin-bottom: 25px;
	}
	
	.box-try {
		float: left;
		width: 300px;
	}
	
	.box-reg {
		padding: 24px 28px 18px;
		background: #fff url(../img/register.png) no-repeat 100% 29px;
		text-align: left;		
	}
	
	.box-suc {
		padding: 24px 28px 0;
		background: #fff url(../img/success.png) no-repeat 100% 98px;
		text-align: left;		
	}	
	
	.box-suc h2 {
		width: 100%;
	}
	
	header {
		height: 100px;
	}
	
	.logo {
		width: 208px;
		height: 49px;
		margin: 0 0 0 30px;
		padding-top: 26px;
	}

	.wrapper {
		width: 768px;
		margin: 0 auto;
	}

	footer {
		height: 45px;
		padding-top: 15px;
	}
	
	.version,
	.copy {
		float: left;
		margin: 0 15px;
		padding-left: 15px;
		text-align: left;
	}
	
	.version {
		float: right;
		padding-right: 15px;
		opacity: 1;
	}
	
	.reg-form-wrap {
		width: 414px;
		margin: 24px 0 0;
	}
	
	.or {
		display: inline-block;
		margin: 4px auto;
	}
	
	.got-wrap {
		margin: 160px 0 0 56px;
	}

	/* Ticket View */
	.app-wrap header nav,
	.box-app-nav .sort,
	.ticket-info .summary{
		display: block;
	}
	
	.app-wrap {
		overflow: visible;
		width: inherit;
	}
	
	.app-wrap header {
		height: 100px;
	}
	
	.grip,
	.mob-peek {
		display: none;
	}
	
	.app-wrap .logo {
		width: 208px;
		height: auto;
		padding: 26px 0 0 30px;
	}

	.box-app-fixed {
		top: 100px;
	}

	.box-app-fixed-inner {
		margin: 0 15px;
		border-radius: 3px 3px 0 0;
		-webkit-box-shadow: 0 0 6px 0px rgba(112,94,65,0.2);
		box-shadow: 0 0 6px 0px rgba(112,94,65,0.2);
	}
	
	.box-app-nav {
		margin: 0;
		padding: 0;
	}

	.box-app-nav a {

	}

	.helper {
		position: relative;
		top: 5px;
		padding: 0 30px;
		background: #fff;
	}

	.box-app-top {
		height: 35px;
		padding: 20px 30px;
		-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-border-radius: 3px 3px 0 0;
		border-radius: 3px 3px 0 0;
	}
	
	.box-app-top h2 {
		margin: 7px 0;
	}
	
	.box-app-top .btn {
		margin: 0;
	}

	.box-app-top .new-client {
		margin-left: 15px;
	}
	
	.box-app-wrap {
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}
	
	.box-app {
		margin: 0 15px;
		padding: 180px 30px 30px;
		-webkit-border-radius: 0 0 3px 3px;
		border-radius: 0 0 3px 3px;
		-webkit-box-shadow: 0 0 6px 0px rgba(112,94,65,0.2);
		box-shadow: 0 0 6px 0px rgba(112,94,65,0.2);		
	}

	.box-app.tickets-box-app {
		padding: 180px 30px 30px;
	}
	
	.box-app-nav a.mid-link {
		margin: 15px 10px 0;
	}

/*****************************/

	#ticket-stream {
		margin-top: 52px;
	}
	
	.ticket {
	 padding: 12px 0 7px;	
	}
	
	.ticket .update-alert {
		width: 2px;
		height: 30px;
		margin: 4px 0;
	}
	
	.ticket .update-alert.update-seen {
		width: 2px;
	}
	
	.ticket-info-inner {
		display: inline-block;
		float: left;
	}
	
	.ticket-info .date {
		float: left;
		display: inline-block;
		font-size: 14px;
		margin: 11px 20px;
	}
	
	.ticket-info .name {
		display: inline-block;
		padding-right: 5px;
		margin-right: 5px;
		border-right: 2px solid #cfc3af;
		line-height: 16px;
		font-weight: 900;
		font-size: 16px;
	}
	
	.ticket-info .company-name {
		display: inline-block;
		line-height: 20px;
		font-weight: 900;
		font-size: 16px;
	}
	
	.ticket-status {
		width: 255px;
	}
	
	.ticket-status .ticket-agent {
		float: left;
		margin-top: 9px;
		line-height: 20px;
		font-weight: 900;
		font-size: 14px;
	}
	
	.ticket-status .btn {
		width: 86px;
		height: 28px;
		margin: 5px 0 7px;
		line-height: 28px;
		font-size: 14px;
		
	}
	
	/* People */
	#agent-stream {
		overflow: hidden;
		padding-top: 30px;
	}

	#agent-stream ul {
		padding: 0 30px;
	}

	.box-people {
		padding: 180px 0 30px;
		border-radius: 0;
	}

	.box-people h2 {
		margin: 0 30px 30px;
		padding-bottom: 30px;
	}

	.box-people h2.people-clients-header {
		margin: 0 30px;
		padding-top: 30px;
		border-top: 1px solid #cfc3af;
	} 
	
	.box-companies {
		padding: 40px 0 0;
	}

	.client-user-stream {
		margin: 0 30px;
	}
		
	.person {
		float: left;
		width: 50%;
		text-align: left;
	}
	
	.person .avatar {
		float: left;
		/*margin: 0 24px 0 30px;*/
		margin: 0 24px 0 0;
	}
	
	.person h3 {
		margin-top: 13px;
		line-height: 20px;
		font-size: 18px;
	}
	
	.person h4 {
		line-height: 20px;
		font-size: 16px;
	}
	
	.company {
		overflow: hidden;
	}
		
	.company-info {
		margin: 0 30px 30px;
	}
	
	.company-info h3 {
		font-size: 21px;
	}
	
	.company-info a {
		margin: 4px 10px 0 0;
	}

	/*.add-person {
		margin-bottom: 15px;
		text-align: left;
	}*/

	/*.add-person h4 {
		margin-left: 30px;
		font-size: 16px;
	}*/


/*	.add-person input[type="text"],
	.add-person input[type="email"]{
		float: left;
		width: 64%;
		margin: 0 15px 15px 30px;	
	}*/

/*	.add-person button {
		margin-top: 5px;
	}*/

	h4.client-has-no-users  {
		height: 66px;
	}
	
	/* Create Ticket */
	#form-new,
	#form-reply {
		text-align: left;
	}
	
	#form-new input[type="text"] {
		float: left;
		width: 68%;
		margin: 0 0 15px;	
	}
	
	.char-count {
		float:  left;
		width: 26%;
		height: 46px;
		margin: 0 0 15px 15px;
		line-height: 46px;
		text-align: left;
	}
	
	textarea {
		width: 100%;
		max-width: 100%;
	}
	
	.attach-link {
		display: inline-block;
		margin-right: 10px;
	}
	
	.supported {
		padding-left: 4px;
	}
	
	.file,
	.attach-files .file {
		float: left;
		width: 50%;
		padding-top: 30px;
	}

	.file:first-child,
	.file:nth-child(2) {
		padding-top: 20px;
	}
	
	.thumb-wrap {
		height: 70px;
		width: 100%;
	}

	.file-thumb {
		height: 70px;
		width: auto;
		margin-bottom: 0;
		padding-left: 76px;
	}

	.filename {
		padding: 22px 0 10px;
	}
	
	.file-icon {
		width: 52px;
		height: 70px;
		margin-right: 24px;
		border-radius: 3px;
	}

	.file-icon:before {
		width: 22px;
		height: 22px;
		border-radius: 0 0 0 3px;

	}

	.file-icon:after {
		border-width: 0 22px 22px 0;	
	}

	.file-icon span {
		bottom: 2px;
		left: 6px;
		font-size: 14px;
	}

	.file-info {
		padding: 0 24px 0 76px;
	}

	.attachments-link {
		margin-top: 20px;
	}

	#drop_zone {
		display: block;
		box-sizing: border-box;
		width: 100%;
		height: 66px;
		margin: 15px 0 0;
		border: 1px dashed #9b8d75;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		line-height: 68px;
		text-align: center;
		font-size: 18px;
		color: #c3bdb2;
	}

	#drop_zone.drop-highlight {
		background: #f3f0ea;
	}

/* Single Ticket */
	#msg-stream {
		padding-bottom: 30px;
	}

	.msg-top h2 { 
		display: block;
	}
	
	.msg {
		overflow: hidden;
		width: 680px;
		width: 664px;
	}
	
	.from-AGENT,
	.from-ADMIN {
		float: right;
	}
	
	.msg-dtl-inr {
		max-width: 100%;
		padding-top: 12px;
	}

	.msg-body {
		padding: 30px;
	}
	
	.msg-agent {
		padding-right: 7px;
		margin-right: 4px;
		border-right: 2px solid #cfc3af;
		font-size: 16px;
		font-weight: 900;
	}
	
	.msg-company {
		display: inline-block;
		font-weight: 900;
	}
	
	.msg-date {
		font-size: 14px;
	}

	.dropswitch {
		margin-right: 0;
	}

/*	.reply-btn {
		margin-top: 40px;
	}*/

/* Register */
	#form-reg,
	.reg-vrf{
		width: 408px;
	}

	#form-reg input[type="text"],
	#form-reg input[type="email"],
	#form-reg input[type="password"] {
		margin-left: 0;
	}
	
	.vrf {
		right: 0;
		width: 94px;
	}
	
	.vrf-msg {
		display: block;
	}

	/* Profile */	
	.profile {
		text-align: left;
	}

	.profile .cancel-btn {
		display: inline-block;
	}

	.profile-tooltip {
		margin-bottom: 0;
	}

	.profile form {
		width: 100%;
		padding-bottom: 30px;
	}

	.profile h3 {
		line-height: 20px;
  		font-size: 18px;
	}	

	.profile .response h3 {
		padding: 30px 0 5px;
	}

	.profile label {
		margin-bottom: 0;
		line-height: 46px;
		font-size: 18px;
	}

	.profile input[type="text"],
	.profile input[type="email"],
	.profile input[type="password"]{
		box-sizing: border-box;
		width: 100%;	
	}

	#form-profile-details input[type="text"],
	#form-profile-details input[type="email"]{
		margin-bottom: 10px;
	}

	.profile .validated-input-resize input {
		width: 95%!important;
	}

	.profile .in-use-marker {
		top: 46px;
	}

	.profile .response {
		float: right;
	}

	.profile form button {
		/*margin-top: 20px;*/
		margin-top: 15px;
	}

	.profile .avatar {
		display: block;
		margin-bottom: 15px;
	}

	#avatar-drop {
		display: block;
		float: left;
		width: 74px;
		height: 74px;
		border: 1px dashed #9b8d75;
		border-radius: 50%;
		-webkit-border-radius: 50%;
	}

	#avatar-drop .avatar {
		margin: 4px;
	}

	.drop-highlight .avatar {
		opacity: 0.5;
	}

	.update-avatar-link {
		display: block;
		margin-bottom: 10px;
	}

	.profile-avatar-prompt {
		display: block;
		clear: both;
		padding-top: 10px;
	}

	.toggle-button-wrap {
		width: 100%;
	}

	/* Modal Form */

	#modal-form .box {
		width: 390px;
	}

	#modal-form input[type="text"] {
		width: 368px;
	}

	#modal-form .validated-input-resize input[type="text"] {
		width: 326px;
	}

}
	
@media only screen and (min-width: 1000px) { 
	.app-wrap,
	.app-wrap header,
	.box-app-fixed {
		width: 970px;
		margin: 0 auto;
	}
	
	.from-AGENT .msg-dtl,
	.from-ADMIN .msg-dtl {
		float: left;
	}
	
	.from-AGENT .avatar,
	.from-ADMIN .avatar {
		float: left;
		margin: 0 14px 0 0;
	}
	
	.from-AGENT .msg-tri,
	.from-ADMIN .msg-tri {
		left: 82px;
	}
}

/* Notifications */
#notice {
	position: fixed;
	top: 0;
	left: 0;		
	margin: 15px;
	padding: 10px;
	border: 1px solid #635748;
	border-radius: 4px;
	
	-moz-user-select: none; 
    -khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
	
	color: #635748;
	background-color: #fff;
	box-shadow: 0 0 6px 0px rgba(112,94,65,0.2);
	
	z-index: 9999;
	display: none;
}

#notice .close {
	display: inline-block;
	margin-left: 10px;
	font-size: 20px;
	color: #635748;
}

#notice .close:hover {
	opacity: 1;
	cursor: pointer;
}