<div id="company-stream">
	<div id="modal-form" class="active">
		<div class="modal-window-inner">
            <div class="modal-outer">
				<div class="modal-wrap">
					<div class="box">
						<form>
							<h3>Text</h3>
							<h4>Text</h4>
							<div class="modal-buttons">
								<input id="modal-form-input" type="text" />
								<div class="validated-marker">
			                        <div class="vrf-cir">
			                            <i class="icon-cancel"></i>
			                        </div>
			                    </div>
								<button class="confirm" type="button">OK</button>
								<div class="beige or">or</div>
								<button class="btn-can" type="button">Cancel</button>
							</div>
						</form>
					</div>
				</div>
			</div>
        </div>
	</div>
	<ul id="clients-stream">
	</ul>
</div>