<div class="company-info">
	<h3>{{attributes.name}}</h3>
	<a class="edit-client" data-form="3" data-model="{{attributes.id}}">Rename</a>
	<a class="delete-client">Delete</a>
	<a class="new-client-user" data-form="2" data-model="{{attributes.id}}">New User</a>
</div>
<div class="client-stream">
	<ul class="client-user-stream">
	</ul>
</div>