<div class="modal-outer">
	<div class="modal-wrap">
		<div class="box">
		<h3>{{type}}</h3>
		<h4>{{message}}</h4>
		<div class="modal-buttons">
			<button class="confirm" type="button">OK</button>
			{{#if cancel}}
			<div class="beige or">or</div>
			<button class="btn-can" type="button">Cancel</button>
			{{/if}}		
		</div>
		</div>
	</div>
</div>