<div class="box-app-fixed">
	<div class="box-app-fixed-inner">
		<div class="box-app-top">
			<h2>Manage Your Account</h2>
		</div>
	</div>
</div>
<div class="box-app" style="{{fullHeightPage}}">
</div>