<div class="box-app-fixed">
	<div class="box-app-fixed-inner">
		<div class="box-app-top">
			<h2>Create Ticket</h2>
		</div>
	</div>
</div>
<div class="box-app" style="{{fullHeightPage}}">
	<form id="form-new">
		<input type="text" class="required new-sub" name="new-sub" placeholder="The problem in one sentence" />
		<div class="char-count"><span>75</span> Characters Remaining</div>
		<textarea class="required" name="new-textarea" placeholder="Please provide the specifics of your problem here"></textarea>
		<div id="file-upload-view-wrap">
		</div>
		<button class="save" type="button">Create Ticket</button>
		<div class="beige or">or</div>
		<a class="cancel-btn ib">Cancel</a>
	</form>
</div>