<div class="box box-suc">
	<h2>You Have a Houston Account!</h2>
	<h3>Hoot have thought it would be so easy?</h3>
	<div class="got-wrap">
		<h2>You\'ve Got Mail!</h2>
		<h3>Please click the verification link in the email we just sent you to complete your account creation</h3>
	</div>
</div>